@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono';

}

#appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DAD7CD;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A3B18A;
  width: 100%;
  height: 130px;
  font-size: 5rem;
  color: #344E41;
  text-align: center;
}